.title-page {
  padding: 0rem 1rem;
  margin-bottom: 2rem;
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-medium);
}